.doc_container{
/* border: 2px solid black; */
/* min-height: 20%; */
height: 100%;
display: flex;
flex-direction: row;
justify-items: center;
justify-content:space-between;
gap: 2rem;
margin-top: 1.5rem;

/* max-width: 61rem;
margin-left: auto;
margin-right: auto; */
}
.doc_sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 2.4rem;
    flex-shrink: 0;
    align-self: flex-start;
    width: 12.1rem;
    height: 0;
    /* padding: 1.2rem 0; */
    right: 0;
}
.doc_content{
    flex-grow: 1;
    overflow: auto;
    scroll-padding-top: 51.2rem;
    margin-left: 50px;
}
.doc_code{
    /* display: block;
    margin: 0;
    padding: 0.7720588235em 1.1764705882em;
    overflow: auto;
    word-break: normal;
    box-shadow: none;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    touch-action: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--md-default-fg-color--lighter) transparent;
    font-family: "Roboto Mono",SFMono-Regular,Consolas,Menlo,monospace; */
    background-color:lavender;
    padding: 20px;
    /* color: black !important; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.copy_button{
    position: relative;
    /* top: 0.5em; */
    right: 0.5em;
    float: right;
    z-index: 1;
    width: 1.5em;
    height: 1.5em;
    background-color:transparent;
    /* border-radius: 0.1rem; */
    cursor: pointer;
    transition: color 250ms;
    /* border: 2px solid black; */
    min-width: 20px;
    color: rgb(30, 33, 33);

}
.copy_button:hover{
    color: rgb(19, 122, 122);
}

.code_content{
    color: #141619;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: medium;
    line-height: 1.7;
}

/* Updated Version */
.header{
    color: #ed7d31 !important;
}
.device_image{
    width: 30rem;
    object-fit:fill ;
    padding: 10px 20px;
    margin-left: 25px;
}
.image_info{
    margin-left: 55px;
}
p{
    margin-left: 15px;
}
ul{
    margin-left: 15px;
}
ol{
    margin-left: 15px;
}